body {
  font-family: helvetica;
  background-image: url(https://wallpapercave.com/wp/wp10010497.jpg);
  color: white;
}
.white {
  font-family: helvetica;
  background-image: url(https://github.com/nah5f4/webdev/blob/main/Picsart_23-06-18_16-46-55-156.jpg);
  color: #8c0813;
}

.listas {
  border: solid 3px;
  border-radius: 10px;
  width: 500px;
  padding: 1.5em;
}
.favoritos {
  display: flex;
  gap: 25px;
}
a {
  display: flex;

  gap: 50px;
}
button {
  color: red;
  background: black;
  position: fixed;
  border-radius: 10px;
  top: 0.025px;
  left: 1280px;
}
